div.error { 
	margin : 5px ;
	padding : 5px ;
	background : white ;
	width : 95% ;
	border : 1px solid red ;
}

body.dev {
	margin : 0px ;
	padding : 0px ;
	background : #FFFF99 ;
}

div.tools {
	background : black ; 
	width : 100% ;
	color : #fff ; 
}

table.wgt {
	color : white ;
}
