/**
 *  @File			navigation-menu.css
 * 	@Authors		Jose Flores
 * 					jose.flores.152@gmail.com
 * 	
 * 	@Description	This is the navigation-menu CSS file it 
 * 
 * 	@changelog		
 * 	4/20/14			compressed with all options via 
 * 					http://www.csscompressor.com/, 
 * 					note that the gradients cannot be compressed
 */
div.navigation-menu { height: 50px; float: left; }
div.navigation-menu ul {float:left;height:50px;line-height:50px;list-style-type:none;margin:0;padding:0;width:100%}
div.navigation-menu ul > li {float:left;height:35px;padding:0 10px;text-align:center}
div.navigation-menu ul > li > a {color:#fff;height:35px}
div.navigation-menu ul > li > a:hover {color:#007dea}

div.navigation{height:50px;width:100%}
div.logo{float:left;height:50px;width:200px}
