/**
 *  @File			profile-generator.css
 * 	@Authors		Jose Flores
 * 					jose.flores.152@gmail.com
 * 	
 * 	@Description	This is the profile-generator CSS file it 
 * 
 * 	@changelog		
 * 	4/20/14			compressed with all options via 
 * 					http://www.csscompressor.com/, 
 * 					note that the gradients cannot be compressed
 */
 
div.profile-generator{float:left;height:100%;min-width:1100px;width:100%}
div.profile-generator-left{float:left;height:100%;padding:10px;width:500px}
div.profile-generator-id{float:left;width:100%}
div.profile-generator-picture{border:1px solid #999;float:left;height:300px;padding:5px px;width:200px}
div.profile-generator-picture image{float:left;height:300px;width:200px}
textarea.profile-generator-input{height:100px;width:500px}
div.profile-generator-center{background:#ddd;float:left;height:100%;margin:10px 0;width:1px}
div.profile-generator-right{float:left;height:100%;padding:10px}
