<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="error">
					
                    <match url="^csr/error/([0-9][0-9][0-9])" />
                    <conditions logicalGrouping="MatchAny" />
                    <action type="Rewrite" url="csr/error/index.php?error={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
