div.footer {
	font-family : "Trajan-Pro" ;
	margin: 0px;
    padding: 0px;
    text-align: center;
    float: left;
    width: 100%;
    height: 300px;
}

div.footer > ul {
    list-style-type: none;
    height: 150px;
    margin: 10px auto 0px auto;
    width: 1150px;
    padding: 0px;
}

    div.footer > ul > li {
        text-transform: uppercase;
        float: left;
        width: 191px;
        text-align: center;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
font-family: "Trajan-Pro";
        color: #000;
    }

        div.footer > ul > li > ul {
            font-family: "sans-serif" ;
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            font-weight: normal;
            line-height: 20px;
            font-size: 12px;
        }

            div.footer > ul > li > ul > li {
            }

                div.footer > ul > li > ul > li > a {
                    text-decoration: none;
                    height: 20px;
                    line-height: 20px;
                    font-size: 10px;
                    color: #000;
                }

                    div.footer > ul > li > ul > li > a:hover {
                        text-decoration: underline;
                    }
